<!-- HANDLING DATE OBJECT in JavaScript -->
<script>
	var days =["SUN","MON","TUE","WED","THU","FRI","SAT"];
	var months =["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
	function update(){
		var xD = "output.innerHTML";
		var d = new Date();
		output.innerHTML = 'Year -'+d.getFullYear()+'<br>';
		output.innerHTML += 'Month -'+months[d.getMonth()]+'<br>';
		output.innerHTML += 'Date (in Month) -'+d.getDate()+'<br>';
		output.innerHTML += 'Day of the Week -'+days[d.getDay()]+'<br>';
		output.innerHTML += 'Hour -'+d.getHours()+'<br>';
		output.innerHTML += 'Minute -'+d.getMinutes()+'<br>';
		output.innerHTML += 'Second -'+d.getSeconds();
		// output.innerHTML += 'Timezone -'+d.getT();
	}

window.addEventListener("load",function(){
	setInterval(update, 1000);
});


</script>



<div id='output'></div>